@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@keyframes easeInElastic {
	0% {
		transform: scale(0);
	}

	25% {
		transform: scale(0);
	}

    50% {
		transform: scale(1.2);
	}

    60% {
		transform: scale(1);
	}


	100% {
		transform: scale(1);
	}
}
@keyframes easeOutElastic {
    0% {
		transform: scale(1);
	}
    40% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

    75% {
		transform: scale(0);
	}

    100% {
		transform: scale(0);
	}
}


body {
    background-color: #eeeeee;
    color: black;
    font-family: "Roboto";
    margin: 0;
}
.app {
    width: 100vw;
    height: 100vh;
}
.ventilator-list {
    height: 80px;
    background-color: #393e46;
    color: white;
}

.profile-img {
    width: 50px;
    height: 50px;
}
.svg-online {
    fill: #4cd363;
}
.svg-alarm {
    fill: #ff5722;
}
.svg-offline {
    fill: #afafaf;
}
.svg-frozen {
    fill: #05e2ed;
}

.text-online {
    color: #4cd363;
}
.text-alarm {
    color: #ff5722;
}
.text-offline {
    color: #afafaf;
}
.text-frozen {
    color: #05e2ed;
}

.offline-right {
    text-align: center;
    color: #afafaf;
}



.ventilator-status {
    width: 190px;
    height: 80px;
    padding-right: 25px;
}
.ventilator-status:hover, .ventilator-status:active {
    cursor: pointer;
    user-select: none;
    background-color: #222831;
}
.active-vent {
    background-color: #525863;
}

.ventilator-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ventilator-list li {
    display: inline-block;
    height: 80px;
    border-right: 1px solid #60656A;
}
.ventilator-status svg {
    margin: 10px;
    margin-top: 15px;
    float: left;
}
.ventilator-status .info {
    float: right;
    text-align: right;
}
.ventilator-status .status-data {
    position: relative;
    bottom: 5px;
}



.side-info {
    background-color: #393e46;
    color: white;
    position: absolute;
    top: 80px;
    right: 0;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    width: 220px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 0px;
}

.side-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.info-name {
    float: left;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 22px;
}
.info-unit {
    font-size: 12px;
    color: rgb(200, 200, 200);
}
.info-value {
    float: right;
    font-size: 40px;
    color: #05e2ed;
    margin: 0;
    padding-right: 10px;
}
.ventilator-info-li:first-child {
    border-top: 1px solid #60656A;
}
.ventilator-info {
    border-bottom: 1px solid #60656A;
    height: 50px;
    padding-top: 5px;
}
.ventilator-category-li {
    border-bottom: 1px solid #60656A;
    background-color: #222831;
    margin: 0;
    padding: 0;
    text-align: center;
}
.ventilator-category-li p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.side-category:first-child li:first-child {
    border-top: 1px solid #60656A;
}




.bottom-buttons {
    position: fixed;
    bottom: 0px;
    left: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bottom-buttons ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;

}
.bottom-buttons li {
    display: inline-block;
    color: white;
    background-color: #393e46;
    padding: 10px;
    margin-right: 10px;
    vertical-align: bottom;
    border-radius: 20px;

    box-shadow: -5px 2px 8px rgb(100, 100, 100, 0.7);
}
.freeze-button {
    position: relative;
    top: 5px;
    height: 30px;
}
.settings-button {
    position: relative;
    top: 2px;
    left: 2px;
    width: 30px;
    transform-origin: 13px 13px;
    transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);;
    transform: rotate(0deg);
}

.bottom-buttons li:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #222831;
    box-shadow: -5px 2px 8px rgb(100, 100, 100, 0.9);
}

.bottom-buttons li:hover .settings-button {
    transition: 1s cubic-bezier(0.65, 0, 0.35, 1);;
    transform: rotate(180deg);
}

.bottom-buttons .button-frozen {
    background-color: #05e2ed;
    color: black;
}
.bottom-buttons .button-frozen:hover, .bottom-buttons .button-frozen:active{
    background-color: #02b8c2;
    color: black;
}



.settings-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.settings-pop-up {
    animation: 0.8s ease-in 0s 1 easeInElastic;

    position: fixed;
    top: calc(50% - 400px);
    right: calc(50% - 300px);
    height: 800px;
    width: 600px;
    background-color: #eeeeee;
    border-radius: 25px;
    z-index: 999;
    box-shadow: -5px 2px 10px rgb(0, 0, 0, 0.2);
    overflow-y: hidden;
}
.settings-content {
    margin-left: 20px;
    margin-right: 20px;
    height: calc(100% + 200px);
    overflow-y: scroll;
}
.triggers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.trigger-min {
    float: left;
}
.trigger-max {
    float: right;
}

.trigger-input {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #60656A;
}
.settings-pop-up h2 {
    font-weight: lighter;
    font-size: 40px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #393e46;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);

    text-align: center;
    color: white;
}
.settings-subtitle {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 5px;
}

.settings-subsubtitle {
    font-size: 20px;
    margin-bottom: 0px;
}
.trigger-input input[type="text"] {
    width: 50px;
    text-align: center;
    height: 20px;
    border-radius: 5px 0px 0px 5px;

    font-size: 20px;
    border: 1px solid rgb(200, 200, 200);
    border-right: 0px solid rgb(200, 200, 200);
    outline: none;
}
.settings-unit {
    font-size: 12px;
    color: rgb(150, 150, 150);
    background-color: white;
    display: inline-block;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid red;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-right: 4px;
    border: 1px solid rgb(200, 200, 200);
    border-left: 0px solid rgb(200, 200, 200);
    /* position: relative; */
    /* bottom: 1px; */
}
.patient-name {
    margin-bottom: 30px;
}
.patient-name input {
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 200);
    margin-right: 5px;
    width: 32.5%;
    padding-left: 10px;
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
}
.patient-name input[type="button"] {
    background-color: #525863;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 0px solid rgb(200, 200, 200);
    margin-right: 5px;
    width: 150px;
    padding-left: 5px;
}
.patient-name input[type="button"]:hover {
    background-color: #393e46;
    cursor: pointer;
}
.set-button {
    font-size: 30px;
    height: 30px;
    width: 30px;
    background: #525863;
    color: white;
    display: inline-block;
    border: 0px solid black;
    border-radius: 10px;
    outline: none;
    position: relative;
    margin: 5px;
    top: 7px;
    cursor: pointer;
    user-select: none;
}
.set-button:hover {
    background: #393e46;
}
.set-button span {
    position: relative;
    left:7px;
    bottom:3px;
}
.set-minus span {
    position: relative;
    left:10px;
    bottom:3px;
    font-weight: bold;
}

/*
Blue:        05e2ed
Blue Active: 02b8c2
Gray dark:   393e46
Gray less:   525863
 */
