@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@keyframes easeInElastic {
	0% {
		transform: scale(0);
	}

	25% {
		transform: scale(0);
	}

    50% {
		transform: scale(1.2);
	}

    60% {
		transform: scale(1);
	}


	100% {
		transform: scale(1);
	}
}
@keyframes easeOutElastic {
    0% {
		transform: scale(1);
	}
    40% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

    75% {
		transform: scale(0);
	}

    100% {
		transform: scale(0);
	}
}


body {
    background-color: #eeeeee;
    color: black;
    font-family: "Roboto";
    margin: 0;
}
.app {
    width: 100vw;
    height: 100vh;
}
.ventilator-list {
    height: 80px;
    background-color: #393e46;
    color: white;

    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
}

@-webkit-keyframes glowingBlue {
    0% { background-color: rgba(5, 226, 237, 0.2); }
    50% { background-color: rgba(5, 226, 237, 1);  }
    100% { background-color: rgba(5, 226, 237, 0.2); }
}
@-moz-keyframes glowingBlue {
    0% { background-color: rgba(5, 226, 237, 0.2); }
    50% { background-color: rgba(5, 226, 237, 1);  }
    100% { background-color: rgba(5, 226, 237, 0.2);}
}
@-o-keyframes glowingBlue {
    0% { background-color: rgba(5, 226, 237, 0.2); }
    50% { background-color: rgba(5, 226, 237, 1);  }
    100% { background-color: rgba(5, 226, 237, 0.2); }
}
@keyframes glowingBlue {
    0% { background-color: rgba(5, 226, 237, 0.2); }
    50% { background-color: rgba(5, 226, 237, 1);  }
    100% { background-color: rgba(5, 226, 237, 0.2); }
}

@-webkit-keyframes glowingRed {
    0% { background-color: #B20000; }
    50% { background-color: #FF0000; }
    100% { background-color: #B20000; }
}
@-moz-keyframes glowingRed {
    0% { background-color: #B20000; }
    50% { background-color: #FF0000; }
    100% { background-color: #B20000; }
}
@-o-keyframes glowingRed {
    0% { background-color: #B20000; }
    50% { background-color: #FF0000; }
    100% { background-color: #B20000; }
}
@keyframes glowingRed {
    0% { background-color: #B20000; }
    50% { background-color: #FF0000; }
    100% { background-color: #B20000; }
}

.profile-img {
    width: 50px;
    height: 50px;
}
.svg-online {
    fill: #4cd363;
}
.svg-alarm {
    fill: #ff5722;
}
.svg-offline {
    fill: #afafaf;
}
.svg-frozen {
    fill: #05e2ed;
}

.text-online {
    color: #4cd363;
}
.text-alarm {
    color: #ff5722;
}
.text-offline {
    color: #afafaf;
}
.text-frozen {
    color: #05e2ed;
}

.offline-right {
    text-align: center;
    color: #afafaf;
}



.ventilator-status {
    width: 220px;
    height: 80px;
    padding-right: 25px;
}
.ventilator-status:hover, .ventilator-status:active {
    cursor: pointer;
    user-select: none;
    background-color: #222831;
}
.active-vent {
    background-color: #525863;

    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
}

.ventilator-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ventilator-list li {
    display: inline-block;
    height: 80px;
    border-right: 1px solid #60656A;
}
.ventilator-status svg {
    margin: 10px;
    margin-top: 15px;
    float: left;
}
.ventilator-status .info {
    float: right;
    text-align: right;
}
.ventilator-status .status-data {
    position: relative;
    bottom: 5px;
}



.side-info {
    background-color: #393e46;
    color: white;
    position: absolute;
    top: 80px;
    right: 0;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    width: 220px;

    -webkit-box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.75);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 0px;
}

.side-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.info-name {
    float: left;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 22px;
}
.info-unit {
    font-size: 12px;
    color: rgb(200, 200, 200);
}
.info-value {
    float: right;
    font-size: 40px;
    color: #05e2ed;
    margin: 0;
    padding-right: 10px;
}
.ventilator-info-li:first-child {
    border-top: 1px solid #60656A;
}
.ventilator-info {
    border-bottom: 1px solid #60656A;
    height: 50px;
    padding-top: 5px;
}
.ventilator-category-li {
    background-color: #222831;
    margin: 0;
    padding: 0;
    text-align: center;

    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
}
.ventilator-category-li p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.side-category:first-child li:first-child {
    padding-top: 3px;
    padding-bottom: 3px;

    -webkit-box-shadow: inset 0px 26px 6px -25px rgba(0,0,0,0.75), 0px 0px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 26px 6px -25px rgba(0,0,0,0.75), 0px 0px 6px 2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 26px 6px -25px rgba(0,0,0,0.75), 0px 0px 6px 2px rgba(0,0,0,0.75);
}




.bottom-buttons {
    position: fixed;
    bottom: 0px;
    left: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bottom-buttons ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;

}
.bottom-buttons li {
    display: inline-block;
    color: white;
    background-color: #393e46;
    padding: 10px;
    margin-right: 10px;
    vertical-align: bottom;
    border-radius: 20px;

    -webkit-box-shadow: -2px 2px 8px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 8px 2px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 8px 2px rgba(0,0,0,0.75);
}
.freeze-button {
    position: relative;
    top: 5px;
    height: 30px;
}
.settings-button {
    position: relative;
    top: 2px;
    left: 2px;
    width: 30px;
    transform-origin: 13px 13px;
    transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);;
    transform: rotate(0deg);
}

.bottom-buttons li:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #222831;
    box-shadow: -2px 2px 8px rgba(0,0,0,0.9);
}

.bottom-buttons li:hover .settings-button {
    transition: 1s cubic-bezier(0.65, 0, 0.35, 1);;
    transform: rotate(180deg);
}

.bottom-buttons .button-frozen {
    /*background-color: #05e2ed;*/
    -webkit-animation: glowingBlue 1500ms infinite;
    -moz-animation: glowingBlue 1500ms infinite;
    -o-animation: glowingBlue 1500ms infinite;
    animation: glowingBlue 1500ms infinite;
    
    color: black;
}
.bottom-buttons .button-frozen:hover, .bottom-buttons .button-frozen:active{
    background-color: #02b8c2;
    color: black;
}



.settings-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.settings-pop-up {
    animation: 0.8s ease-in 0s 1 easeInElastic;

    position: fixed;
    top: calc(50% - 250px);
    right: calc(50% - 250px);
    height: 500px;
    width: 500px;
    background-color: #eeeeee;
    border-radius: 25px;
    z-index: 999;
}
