@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}


body {
    background-color: #eeeeee;
    color: black;
    font-family: "Roboto";
    margin: 0;
}
.ventilator-list {
    height: 80px;
    background-color: #393e46;
    color: white;
}

.profile-img {
    width: 50px;
    height: 50px;
}
.svg-okay {
    fill: #4cd363;
}
.svg-alarm {
    fill: #ff5722;
}
.text-okay {
    color: #4cd363;
}
.text-alarm {
    color: #ff5722;
}
.ventilator-status {
    width: 190px;
    height: 80px;
    padding-right: 25px;
}
.ventilator-status:hover, .ventilator-status:active {
    background-color: #222831;
}

.ventilator-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ventilator-list li {
    display: inline-block;
}
.ventilator-status svg {
    margin: 10px;
    margin-top: 15px;
    float: left;
}
.ventilator-status .info {
    float: right;
    text-align: right;
}



.side-info {
    background-color: #393e46;
    color: white;
    position: absolute;
    top: 80px;
    right: 0;
    height: calc(100vh - 80px);
    width: 200px;
}
.side-info ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
